* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://c8.alamy.com/compit/2c5f13j/modello-di-design-con-logo-pet-shop-conservare-con-etichetta-di-prodotti-e-accessori-per-animali-scritta-con-pedoni-2c5f13j.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Stile per la nav-bar */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(62, 7, 113);
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease-in-out;
}

nav ul li a:hover {
  border-bottom-color: #333;
}

/* Stile per il catalogo */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: inline-block;
  width: calc(33.33% - 10px);
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
  text-align: center;
  background-color: whitesmoke;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 5px;
}

.card .categoria {
  font-weight: bold;
}

.card .tipo {
  font-style: italic;
}